.tabloidWrapper{
    display: inline-block;
    color: rgb(0, 189, 236);
    border: 2px solid rgb(0, 120, 150);
    border-radius: 10px;
    min-width: 208px;
    min-height: 50px;
    font-size: 30px;
}

.tabloidMaxCount{
    color: rgb(255, 0, 0);
    box-shadow: inset 0px 0px 16px rgba(255, 0, 0, 0.5);
}

.inputWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 6px
}

input{
    max-width: 70px;
    min-height: 30px;
    background-color: #282c34;
    border-radius: 10px;
    border: 2px solid rgb(0, 120, 150);
    color: rgb(0, 189, 236);
    font-size: 20px;
    text-align: center;
}